body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.resume-container {
  padding: 20px;
  /* border: 1px solid #ddd; */
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  background-color: #fff;
}

.resume-header {
  text-align: center;
  margin-bottom: 10px;
}

.resume-header h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.resume-header p {
  font-size: 14px;
  margin: 6px;
}

.section {
  margin-bottom: 16px;
}

.section-title {
  font-size: 18px;
  font-weight: bold;
  /* margin-bottom: 10px; */
  border-bottom: 1px solid #ccc;
  padding-bottom: 6px;
}

.subsection {
  /* margin-bottom: 16px; */
}

.institution {
  font-weight: bold;
  margin-bottom: 6px;
}

.location {
  font-style: italic;
  font-size: 14px;
  color: gray;
}

.details {
  margin: 6px 0;
}

.bullet-list {
  list-style-type: disc;
  padding-left: 20px;
  margin-top: 6px;
}

.bullet-list li {
  margin-bottom: 6px;
}